body {
  background-image: url('image.png');
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1000px;
}

h1 {
  color: #ffffff;
  font-size: 60px;
  text-align: center;
}

p {
  text-align: center;
  color: #000000;
}

marquee {
  display: block;
  margin: 20px 0;
}

img {
  border: 5px solid #ccc;
  border-radius: 12px;
  margin: 0 10px;
}

.hero {
  border: 1px solid #000;
  margin-top: 20px;
  background-color: white;
  height: 1700px;
  width: 60%;
}

#hero {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-direction: row;
}

.flex-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
}

.flex-item {

  background-color: #f0f0f0;
  margin: 4px;
  padding: 10px;
}

.hero flex-item {
  background-color: #ffffff;
  color: #000000;
  margin: 4px;
  padding: 10px;
}